$primary-color: rgb(2, 161, 124);
@import '~loaders.css/src/animations/ball-spin-fade-loader.scss';
.loader-hidden {
    display: none;
}

.loader-active {
    display: block;
    height: 100%;
    width: 100%;
}